<h1>{{title}}</h1>
{{#if conocido}}
    <p>Bievenido <strong>{{nombre}}</strong> pudiste acceder.</p>
    <p><a href="/salir">Salir</a></p>
{{/if}}

{{#unless conocido}}
    <p>Ingrese su nombre para acceder</p>
    <form action="/ingresar" method="post">
        <input type="text" name="nombre" placeholder="Tu nombre">
        <button>Ingresar</button>
    </form>
{{/unless}}